# Core Infrastructure
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BROKERS=kafka:9092

# Service Environment Variables
NODE_ENV=development
